  <img id="background" src="http://static.wixstatic.com/media/b7bdbe_5b043fe23d5c40d795ae587fd4cb44d7.jpg_srb_p_989_660_75_22_0.50_1.20_0.00_jpg_srb" type="video/mp4">

<div class="row top-buffer">
  <div class='col-lg-12 text-center'> 
    <h2>SPOTLESS</h2>
    <h4> An app for all of your spotify organizational needs</h4>
  </div>
</div>

<div class="row top-buffer">
  <div class='col-lg-12 text-center'> 
    <%= link_to "#{image_tag('log_in-desktop-medium.png')}".html_safe, 'auth/spotify' %>
  </div>
</div>
