
<div class="row top-buffer">
  <div class='col-lg-6 col-centered text-center background'>
    <div id='content'>
      <h1 class='text-muted' >SPOTLESS</h1><br/>
      <h4 class='text-muted'> An App to Tidy Up Your Music, Your Way.</h4><br/><br/>
      <%= link_to "#{image_tag('log_in-desktop-medium.png')}".html_safe, '/auth/spotify' %>
    </div>
  </div>
</div>

<div class= "row text-center bottom-buffer">
  <div class='col-lg-5 pull-right screenshots' id="content">
    <h2 class='text-muted' > Manage your Playlists</h2>
    <h4 class='text-muted' > Spotless shows you which of your playlsts have duplicates, and lets you delete duplicates from each playlist with a click of a button</h4>
    <img id="screen" src="/computertest.png">
  </div>
</div>

<div class= "row text-center bottom-buffer">
  <div class='col-lg-5 screenshots' id="content">
    <h2 class='text-muted'> Ain't noone got time for that?</h2>
    <h4 class='text-muted' > For the busy user, Spotless provides you with a one click option to delete all of your duplicates.</h4>
    <img id="screen" src="/computertest.png">
  </div>
</div>

<div class="row">
  <div class='col-lg-10 col-centered text-center'>
    <div id='content-last'>
      <h3> Created with Ruby on Rails using the Spotify API </h3>
      <h4> Made by Don Brunais, Brea Gaudioso, and Teagan Wrest.</h4>
      <h5> All three are students in Galvanize's 6 month immersive Full Stack Development course</h5><br/><br/>
    </div>
  </div>
</div>
