</br></br>
<div class="container content-offest">
  <div class="row">
    <div class="col s6">
     <div class="card #424242 grey darken-3">
       <div class="card-content white-text">
         <span class="card-title"><h3>Welcome</h3></span>
         <p>Choose a playlist to get started</p>
         <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or</p>
         <p>Delete all duplicates from your playlists</p>
       </div>
       <div class="card-action">
         <%= link_to 'Delete All', user_path, method: 'delete'  %>
       </div>
     </div>
    </div>
   </div>
</div>
