<h1>Home</h1>
<%= @user['spotify_user_id'] %>
<%= @user['id'] %>

</br></br>
<h4>User Playlists</h4>
<ul>
  <% @user.playlists.each do |playlist| %>
    <li>
      <%=link_to playlist.name, playlist_path(playlist)%>
    </li>
  <% end %>
</ul>
