</br></br>
<div class="row top-buffer">
  <div class='col-lg-6 col-centered text-center'>
    <div id='content'>
  <h2 class='text-muted'>Welcome</h2>
  <h4 class='text-muted' >Choose a playlist to get started</h4>
  <h4 class='text-muted'> or </h4>
  <h4 class='text-muted'> <%= link_to 'DELETE ALL DUPLICATES FROM YOUR PLAYLISTS', user_path, method: 'delete'  %></h4>
  </div>
</div>
</div>
