

/* ============================================================
  Login
============================================================ */
.login-page {
    background: RGBA(0, 0, 0, 1);
}

#login-background {
  background: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-45557.jpg");
  background-position: bottom;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-content {
  color: RGBA(255, 255, 255, 1);
  background: RGBA(0, 0, 0, 1);
  padding: 0 20% 5% 20%;
  text-align: left;
  top: 100vh;
  font-family: 'Poiret One', cursive;
}
#screen {
  height: 100%;
  width: 100%;
}
.line-center{
  margin:0;padding:0 10px;
    background:RGBA(0, 0, 0, 1);
  color: RGBA(255, 255, 255, 1);
  display:inline-block;
}
h2{
  text-align:center;
  position:relative;
  z-index:2;
}
h2:after{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  right:0;
  border-top:solid 1px RGBA(255, 255, 255, 1);
  z-index:-1;
}
.nav-username{
  color: white;
}
/* ============================================================
  Playlists
============================================================ */
.content-offest{
  padding-left: 240px;
}
.list-text {
  margin-top: 0px;
}
#nav-username{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

a#delete-link:hover {
  color: #ffd8a6;
}
a#delete-link  {
  color: #ffab40;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  -ms-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}
#logout-image:hover {
  background: RGBA(33, 33, 33, 1);
}
/* ============================================================
  Text
============================================================ */
h4 {
  font-size: 5px;
}
h1{
  font-family: 'Candal', sans-serif;
}
