  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Count</th>
        <th>Postion</th>
      </tr>
    </thead>
    <tbody>
      <% @playlist.tracks.each do |track| %>
        <% track.playlist_tracks.each do |playlist_track| %>
        <tr>
          <th scope="row"><%= track.id %></th>
          <td><%= track.name%></td>
          <td><%= playlist_track.copies%></td>
          <td><%= playlist_track.positions%></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
