
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Count</th>
        <th>Postion</th>
      </tr>
    </thead>
    <tbody>
      <% @playlist.tracks.each do |track| %>
        <tr>
          <th scope="row"><%= track.id %></th>
          <td><%= track.playlist_tracks.copies%></td>
          <td><%= track.playlist_tracks.positions%></td>
          <td>5</td>
        </tr>
      <% end %>
    </tbody>
  </table>
